{
  "node": {
    "id": "{{envOrDefault "ENVOY_NODE_ID" "default-node"}}",
    "cluster": "{{envOrDefault "ENVOY_NODE_CLUSTER" "default-cluster"}}",
    "locality": {
      "zone": "{{envOrDefault "ENVOY_NODE_ZONE" "default-zone"}}"
    }
  },
  "static_resources": {
    "clusters": [
      {
        "name": "tbn-xds",
        "type": "LOGICAL_DNS",
        "connect_timeout": {
          "seconds": "{{envOrDefault "ENVOY_XDS_CONNECT_TIMEOUT_SECS" "30"}}"
        },
        "lb_policy": "ROUND_ROBIN",
        "hosts": [
          {
            "socket_address": {
              "protocol": "TCP",
              "address": "{{envOrDefault "ENVOY_XDS_HOST" "127.0.0.1"}}",
              "port_value": "{{envOrDefault "ENVOY_XDS_PORT" "50000"}}"
            }
          }
        ],
        "http2_protocol_options": {
          "max_concurrent_streams": 10
        },
        "upstream_connection_options": {
          "tcp_keepalive": {
            "keepalive_probes": {
              "value": {{envOrDefault "ENVOY_XDS_KEEPALIVE_PROBES" "3"}}
            },
            "keepalive_time": {
              "value": {{envOrDefault "ENVOY_XDS_KEEPALIVE_TIME_SECS" "30"}}
            },
            "keepalive_interval": {
              "value": {{envOrDefault "ENVOY_XDS_KEEPALIVE_INTERVAL_SECS" "15"}}
            }
          }
        }
      }
{{- if envOrDefault "ENVOY_ZIPKIN_COLLECTOR_HOST" "" }}
      ,{
        "name": "{{ envOrDefault "ENVOY_ZIPKIN_COLLECTOR_CLUSTER" "zipkin"}}",
        "type": "LOGICAL_DNS",
        "connect_timeout": {
          "seconds": "{{envOrDefault "ENVOY_ZIPKIN_CONNECT_TIMEOUT_SECS" "30"}}"
        },
        "lb_policy": "ROUND_ROBIN",
        "hosts": [
          {
            "socket_address": {
              "protocol": "TCP",
              "address": "{{env "ENVOY_ZIPKIN_COLLECTOR_HOST" }}",
              "port_value": "{{envOrDefault "ENVOY_ZIPKIN_COLLECTOR_PORT" "9411"}}"
            }
          }
        ],
      }
{{- end }}
{{- if envOrDefault "ENVOY_LIGHTSTEP_ACCESS_TOKEN_FILE" "" }}
      ,{
        "name": "{{ envOrDefault "ENVOY_LIGHTSTEP_COLLECTOR_CLUSTER" "lightstep"}}",
        "type": "LOGICAL_DNS",
        "connect_timeout": {
          "seconds": "{{envOrDefault "ENVOY_LIGHTSTEP_CONNECT_TIMEOUT_SECS" "30"}}"
        },
        "tls_context": {},
        "lb_policy": "ROUND_ROBIN",
        "hosts": [
          {
            "socket_address": {
              "protocol": "TCP",
              "address": "{{envOrDefault "ENVOY_LIGHTSTEP_COLLECTOR_HOST" "collector-grpc.lightstep.com"}}",
              "port_value": "{{envOrDefault "ENVOY_LIGHTSTEP_COLLECTOR_PORT" "443"}}"
            }
          }
        ],
{{- /* the envoy collector host requires gRPC support */}}
        "http2_protocol_options": {
        }
      }
{{- end }}
    ]
  },
  "dynamic_resources": {
    "lds_config": {
      "api_config_source": {
        "api_type": "GRPC",
        "grpc_services": [
          {
            "envoy_grpc": {
              "cluster_name": "tbn-xds"
            }
          }
        ],
        "refresh_delay": {
          "seconds": {{envOrDefault "ENVOY_XDS_REFRESH_DELAY_SECS" "10"}}
        }
      }
    },
    "cds_config": {
      "api_config_source": {
        "api_type": "GRPC",
        "grpc_services": [
          {
            "envoy_grpc": {
              "cluster_name": "tbn-xds"
            }
          }
        ],
        "refresh_delay": {
          "seconds": {{envOrDefault "ENVOY_XDS_REFRESH_DELAY_SECS" "10"}}
        }
      }
    }
  },
  "admin":{
    "access_log_path": "{{envOrDefault "ENVOY_ADMIN_LOG" "/dev/stdout"}}",
    "address": {
      "socket_address": {
        "protocol": "TCP",
        "address": "{{envOrDefault "ENVOY_ADMIN_IP" "0.0.0.0"}}",
        "port_value": "{{envOrDefault "ENVOY_ADMIN_PORT" "9999"}}"
      }
    }
  }
{{- if envOrDefault "ENVOY_LIGHTSTEP_ACCESS_TOKEN_FILE" "" }}
  ,"tracing":{
    "http": {
      "name": "envoy.lightstep",
      "config": {
        "collector_cluster": "{{ envOrDefault "ENVOY_LIGHTSTEP_COLLECTOR_CLUSTER" "lightstep"}}",
        "access_token_file": "{{ envOrDefault "ENVOY_LIGHTSTEP_ACCESS_TOKEN_FILE" "/etc/envoy/lightstep-access-token"}}"
      }
    }
  }
{{- end }}
{{- if envOrDefault "ENVOY_ZIPKIN_COLLECTOR_HOST" "" }}
  ,"tracing":{
    "http": {
      "name": "envoy.zipkin",
      "config": {
        "collector_cluster": "{{ envOrDefault "ENVOY_ZIPKIN_COLLECTOR_CLUSTER" "zipkin"}}",
        "collector_endpoint": "{{ envOrDefault "ENVOY_ZIPKIN_COLLECTOR_ENDPOINT" "/api/v1/spans"}}"
      }
    }
  }
{{- end }}
}
